
IC_Addons/IC_NoModronAdventuring_Extra/SpecSettings.JSON
IC_Addons/IC_NoModronAdventuring_Extra/HeroDefines.JSON
IC_Addons/IC_NoModronAdventuring_Extra/MaxLvl.JSON
IC_Addons/IC_GameSettingsFix_Extra/profiles/*.json
*_Settings.json
IC_Addons/IC_ClaimDailyPlatinum_Extra/LastGUID_ClaimDailyPremium.json
